<table class='table table-striped'>
<thead><tr><th style='width: 400px'></th><th></th></tr></thead>
<tr><td>FileDataID</td><td>{{ returndata.filedataid}}</td></tr>
    {% if not returndata.filename is empty %}
        <tr>
            <td>Filename</td>
            <td id='editableFilename' data-id="{{ returndata.filedataid }}">{{ returndata['filename'] }}</td>
        </tr>
    {% endif %}
    <tr><td>Lookup</td><td>{{ returndata.lookup }}</td></tr>
    <tr><td>Type</td><td>{{ returndata.type }}</td></tr>
    
    {% if soundkits|length > 0 %}
        <tr>
            <td>SoundKit</td>
            <td>
                {% for soundkitrow in soundkits %}
                    {{ soundkitrow.entry }} {{  soundkitrow.name|escape }}<br>
                {% endfor %}
            </td>
        </tr>
    {% endif %}

    {% for er in eqr %}
        {% if not er.keybytes is empty %}
            {% set keyState = 'known' %}
            {% set keyStateColor = 'green' %}
        {% else %}
            {% set keyState = 'unknown' %}
            {% set keyStateColor = 'red' %}
        {% endif %}
        
        {% if er.active == 1 %}
            <tr>
                <td>
                    Encrypted with 
                    <span style='color: {{ keyStateColor }};'>{{ keyState }}</span> key 
                    <span class='hash'><a target='_BLANK' href='/files/#search=encrypted%3A{{ er.keyname }}'>{{ er.keyname }}</a> ({{ er.id }})</span> </td><td>{{ er.description }}
                </td>
            </tr>        
        {% else %}
            <tr>
                <td>
                    Used to be encrypted with 
                    <span style='color: {{ keyStateColor }};'>{{ keyState }}</span> key 
                    <span class='hash'><a target='_BLANK' href='/files/#search=encrypted%3A{{ er.keyname }}'>{{ er.keyname }}</a> ({{ er.id }})</span></td><td>{{ er.description }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    {% if showEncryptDisclaimer %}
        <tr><td colspan='2'>Flagged as encrypted but has either been decrypted long ago or conflicts with an identical non-encrypted version of the file</td></tr>
    {% endif %}

    <tr><td colspan='2'><b>Known versions</b></td></tr>
    <tr><td colspan='2'>
        <table class='table table-sm'>
            <tr><th>Description</th><th>Buildconfig</th><th>Contenthash</th><th>Size</th></tr>
            
            {% for version in versions %}
                {% if not returndata.filename is empty %}
                    {% set downloadFilename = returndata.filename|basename %}
                {% else %}
                    {% if returndata.type is empty %}
                        {% set downloadFilename = returndata.filedataid ~ ".unk" %}
                    {% else %}
                        {% set downloadFilename = returndata.filedataid ~ returndata.type %}
                    {% endif %}
                {% endif %}
                <tr>
                    <td>{{ version.description }}</td>
                    <td class='hash'>{{ version.buildconfig }}</td>
                    <td class='hash'>
                        <a href='#' data-toggle='modal' data-target='#chashModal' onClick='fillChashModal("{{ version.contenthash }}")'>{{ version.contenthash }}</a>
                    </td>
                    <td>{{ version.size|humanBytes }} . ({{ version.size }} bytes)</td>
                </tr>
            {% endfor %}
            </table>
    </td></tr>
<tr>
    {% if fileExists %}
        <td colspan='2'>
            <a class='btn btn-primary' href='#' data-toggle='modal' data-target='#previewModal' onClick='fillPreviewModal("{{ versions[0].buildconfig }}", "{{ returndata.filedataid }}")'><i class='fa fa-eye'></i> Preview</a> 
            <a class='btn btn-primary' href='/files/api/download?build={{ staticBuild }}&id={{ returndata.filedataid }}'><i class='fa fa-download'></i> Download</a>
        </td>
    {% endif %}
    </tr>
    <tr><td colspan='2'><b>Neighbouring files</b></td></tr>
    
    
    <tr><td colspan='2'>
        <table class='table table-sm'>
            <tr><th>ID</th><th>Filename</th></tr>
            {% for nbrow in nbr %}
                <tr>
                    {% if nbrow.id == row.id %}
                        <td><b style='color: red'>{{ nbrow.id }}</b></td>
                        <td><b style='color: red'>{{ nbrow.filename }}</b></td>
                    {% else %}
                        <td>{{ nbrow.id }}</td>
                        <td>{{ nbrow.filename }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
    </td></tr>

    {% if parents|length > 0 %}
        <tr><td colspan='2'><b>Linked parent files</b></td></tr>
        <tr><td colspan='2'>
            <table class='table'>
                <tr><th>Link type</th><th>ID</th><th>Filename</th><th>Type</th></tr>
                {% for lrow in parents %}
                    <tr>
                        <td>{{ lrow.type }}</td>
                        <td>{{ lrow.parent }}</td>
                        <td>{{ lrow.filename }}</td>
                        <td>{{ lrow.filetype }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td></tr>
    {% endif %}

    {% if children|length > 0 %}
        <tr><td colspan='2'><b>Linked child files</b></td></tr>
        <tr><td colspan='2'>
            <table class='table'>
                <tr><th>Link type</th><th>ID</th><th>Filename</th><th>Type</th><th>&nbsp;</th></tr>
                {% for lrow in children %}
                    <tr>
                        <td>{{ lrow.type }}</td>
                        <td>{{ lrow.child }}</td>
                        <td>{{ lrow.filename }}</td>
                        <td>{{ lrow.filetype }}</td>
    
                        {% if lrow.filetype == 'blp' %}
                            <td><a href='#' data-toggle='modal' data-target='#previewModal' onClick='fillPreviewModal("{{ lrow.buildhashforchild }}", "{{ lrow.child }}")'>Preview</a>
                            {% if lrow.enc == 1 %}
                                <i style='color: red' title='File is encrypted (key " . {{ lrow.keyname }} . " not known)' class='fa fa-lock'></i>
                            {% elseif lrow.enc == 2 %}
                                <i style='color: green' title='File is encrypted (key " . {{ lrow.keyname }} . " is available)' class='fa fa-unlock'></i>
                            {% endif %}
                            </td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </td></tr>
    {% endif %}
</table>