{% extends 'base.html.twig' %}

{% block body %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-6'>
                Current amount of versions (with or without definitions): {{ versions|length }}
                <table id='dbdstatsbymissingver' class='table table-condensed table-striped'>
                    <thead><tr><th>Version</th><th>Tables w/o def</th></tr></thead>
                    {% for noDef in versions %}
                        <tr>
                            <td>{{ versionCacheByID[noDef['versionid']] }}</td>
                            <td>{{ noDef['noDefCount']  }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class='col-md-6'>
                Current amount of tables (with or without definitions): {{ tables|length }}
                <table id='dbdstatsbymissingtable' class='table table-condensed table-striped'>
                    <thead><tr><th>Table</th><th>Versions w/o def</th></tr></thead>
                    {% for noDef in tables %}
                        <tr>
                            <td>{{ tableCacheByID[noDef['tableid']] }}</td>
                            <td>{{ noDef['noDefCount'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}